<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" metadata-complete="false" version="3.0">
  <welcome-file-list>
    <welcome-file>Main</welcome-file>
  </welcome-file-list>
  
  <servlet>
    <servlet-name>Main</servlet-name>
    <servlet-class>jfsaaved.Main</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Main</servlet-name>
    <url-pattern>/main</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>Update</servlet-name>
    <servlet-class>jfsaaved.Update</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Update</servlet-name>
    <url-pattern>/update</url-pattern>
  </servlet-mapping>

  <context-param>
    <param-name>dbUser</param-name>
    <param-value>USERNAME</param-value>
  </context-param>
  <context-param>
    <param-name>dbPassword</param-name>
    <param-value>PASSWORD</param-value>
  </context-param>
  <context-param>
    <param-name>dbURL</param-name>
    <param-value>jdbc:mysql://SERVER:PORT/kobe</param-value>
  </context-param>
</web-app>